/**********************
    * Variables
**********************/

/**** Colors ****/
// Base
$white: #ffffff;
$black: #333333;


/**** Breakpoints ****/
$tablet: 960px;
$mobile: 768px;
$mobile-small: 480px;